@mixin btnStyle {
  color: white;
  background-color: rgba(212, 95, 190, 0.867);
  padding: 15px 30px;
  border-radius: 40px;
  text-decoration: none;
}
@mixin ttlstyle{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 50px 0;
}

$btnClr: rgba(232, 101, 208, 0.867);
$fontClr: black;
$background-clr:rgba(228, 82, 231, 0.374);

.all{
  max-width: 1200px;
  margin: auto;
}

#header {
  height: 70px;
  li{
    display: none;
  }
  }
  #firstview{
    height: 800px;
    background-image: url(img/fv__bg-sp.svg);
    background-size: cover;
    margin-bottom: 100px auto;
    h1{
      font-size: 35px;
      margin-bottom: 20px;
    }
    .firstview__txt{
      width: 80%;
      padding-top: 50px;
      font-size: 20px;
    }
    .firstview__img{
      width: 50%;
      margin: 50px auto;

    }
    .firstview__cta{
      background-color: $btnClr;
      padding: 30px;
      border-radius: 40px;
      text-align: center;
    }
    .firstview__cta a{
      color: #fff;
      text-decoration: none;
    }
  }
  #about{
    height: 400px;
    background-color: $background-clr;
    .about__txt{
      @include ttlstyle();
    }
    .about__img{
      width: 50%;
      margin: 0 auto;
      img{
        width: 100%;
      }
    }
  }
#trouble{
  max-width: 1200px;
  height: 800px;
  text-align: left;
  margin: auto;
  .trouble__ttl{
    @include ttlstyle();
  }
  
  .trouble__card{
    display: flex;
    align-items: center;
  }
  .trouble__card-item:nth-of-type(2n){
    display: flex;
    flex-direction: row-reverse;
  }
  .trouble__img{
    width: 200px;
    margin: 0 auto;
    .trouble__img:nth-of-type(2n){
      margin: 0 auto;
    }
    img{
      width: 100%;
    }
  }
  .trouble__card-txt{
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px　auto;
  }
  }

#learn{
  height: 1600px;
  background-color: $background-clr;
  margin: 0 auto;
  
.learn__ttl{
  @include ttlstyle();
}
.learn__text{
  margin: auto 1em;
  span{
    font-size: 2em;
    color: $btnClr;
    font-weight: bold;
  }
}
.learn__item-ttl{
  font-size: 25px;
  text-align: left;
  margin: 10px auto;
  font-weight: bold;
  list-style: none;
}
.learn__item-txt{
  font-size: 18px;
  padding-bottom: 20px;
}
.learn__item-img{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  img{
    width: 100%;
  }
}
}
#feature{
  height: 800px;
  margin: 0 auto;
  .feature__ttl{
    @include ttlstyle();
  }
  .feature__icon{
    width: 100%;
    text-align: center;
  }
  
  .feature__icon-item{
    width: 30%;
    border: 1px solid rgba(225, 111, 208, 0.723);
    display: inline-block;
    border-radius: 20px;
    padding: 30px 10px;
    box-shadow: 0 0 5px rgba(225, 111, 208, 0.627);
    text-align: center;
    margin: 10px 10px;
  }
}

#service{
  height: 400px;
  background-color: $background-clr;
  .service__ttl{
    @include ttlstyle();
    color: #fff;
    margin: auto 50px;
  }
  .service__btn{
    width: 400px;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #fff;
    margin: 20px 15px;
    background-color:rgba(54, 54, 217, 0.846);
  }
  .service__btn-white{
    display: inline-block;
    color: $background-clr;
    background-color: #fff;
  }
}

#intro__company {
  height: 560px;
  .intro__company-ttl{
    @include ttlstyle();
  }
  .company__card{
    width: 100%;
    display: flex;
    display: block;
    text-decoration: none;
    margin: 20px 5px;
    color: $fontClr;
    position: relative;
    z-index: 1;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.538);
    border-radius: 30px;

  }
  
  .company__card-eyecatch{
    width: 100%;
    height: auto;
    border-radius: 20px;
    }
    .company__item-cat {
      background-color: #fff;
      border: 1px solid $btnClr;
      display: inline-block;
      padding: 5px;
      font-size: 14px;
      position: absolute;
      z-index: 2;
      top: 320px;
      left: 10px;
    }
    .company__content {
      width: 100%;
      padding: 10px;
    }
    .company__ttl {
      padding: 10px;
      font-size: 14px;
    }
    .company__txt {
      padding: 10px;
      font-size: 18px;
      line-height: 1.5em;
    }
}



@media screen and (min-width:768px){

}
@media screen and (min-width:1000px){

}