@mixin btnStyle {
  color: white;
  background-color: rgba(212, 95, 190, 0.867);
  padding: 15px 30px;
  border-radius: 40px;
  text-decoration: none;
}
@mixin ttlstyle{
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

$btnClr: rgba(232, 101, 208, 0.867);
$fontClr: black;
$background-clr:rgba(228, 82, 231, 0.374);

#header {
  width: 90%;
  margin: 0 auto;
  .header__nav, .header__cta{
    display: none;
  }
}
  @media screen and (min-width:769px){
    #header{
    .header__wrapper{
      display: flex;
      justify-content: space-evenly;
      padding-top: 30px;
      line-height: 1.5em;
    }
    .header__logo-img{
      width: 100px;
    }
      .header__nav {
      display: block;
      list-style: none;
      display: flex;
       .header__list > a{
        padding-left: 30px;
        text-decoration: none;
        color: $fontClr;
        font-size: 18px;
      }
  
      }
      .header__cta {
        display: block;
        display: flex;
      li {
        list-style: none;
      }
    }
    .header__cta-btn{
      background-color: $btnClr;
      font-size: 18px;
      color: #FFF;
      padding: 10px 10px;
      border-radius: 20px;
      text-decoration: none;
    }
    .header__cta-btn--blue{
      background-color: rgb(60, 116, 227);
      font-size: 18px;
      color: #FFF;
      padding: 10px 10px;
      border-radius: 20px;
      margin-left: 10px;
      
    }
  }
  }



  #firstview {
    width: 100%;
    margin: 0 auto;
    background: url(img/fv__bg-pc.svg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    .firstview__wrapper{
      width: 80%;
      margin: 0 auto;
    }
    .firstview__content{
      text-align: left;
    }
      h1{
      font-size: 1.8rem;
      margin-top: 50px;

    }
    .firstview__txt{
      font-size: 0.8rem;
      padding-top: 20px;
    }
    .firstview__img{
      width: 100%;
      text-align: center;
      img{
        margin: 40px auto;
        max-width: 90%;
      }
    }
    .firstview__btn {
    font-size: 16px;
    margin-bottom: 50px;
    display: block;
  }
  .firstview__cta-btn{
    background-color: $btnClr;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-radius: 30px;
    padding: 20px 30px;
    }
    .firstview__md-btn{
      display: none;
    }
  }

  @media screen and (min-width:769px){
  #firstview {
    width: 90%;
    background-size: cover;
    margin: 50px auto;
  
  h1{
    font-size: 3rem;
  }
  .firstview__wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .firstview__content{
      width: 55%;
    }
    .firstview__img {
      max-width: 80%;
      width: 35%;
    }
    .firstview__txt{
      font-size: 1rem;
      padding-top: 30px;
    }
    .firstview__cta-btn{
      display: none;
    }
   .firstview__md-btn{
    display: block;
    margin: 10px 0 20px;
  }
  .md__btn{
    background-color: $btnClr;
    border-radius: 30px;
    padding: 12px 60px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    }
  }
  }

  #about{
    width: 100%;
    text-align: center;
    padding: 30px 0 30px;

    background-color: $background-clr;
    .about__txt{
      @include ttlstyle();
      font-size: 1.2rem;
      padding-bottom: 20px;
      text-align: left;
      margin: 0 auto;
      width: 90%;
    }
    .about__img{
      width: 90%;
      margin: 0 auto;
    }
    img{
      width: 100%;
    }
  }

@media screen and (min-width:769px){
  #about{
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .about__txt{
      width: 80%;
      font-size: 2.2rem;
      text-align: left;
      margin-left: 80px;
    }
    .about__img{
      width: 100%;
      margin-left: -60px;
    }
  }
}



#trouble{
  width: 90%;
  text-align: left;
  margin: 30px auto 50px;
  .trouble__ttl{
    @include ttlstyle();
    margin-bottom: 20px;
  }
  .trouble__card{
    align-items: center;
    display: flex;
  }
  .trouble__card2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    img{
      margin-left: 10px;
    }
  }
  .trouble__img{
    width: 60%;
    margin: 30px 0;
    img{
      width: 90%;
    }
  }
  .trouble__card-txt{
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5em;
  }
  .trouble__card-txt2{
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    padding-right: 40px;
    line-height: 1.5em;
  }
  }
  @media screen and (min-width:769px){
    #trouble{
      width: 90%;
      margin: 30px auto 50px;
      text-align: center;
    
    .trouble__ttl{
      font-size: 2rem;
    }
    .trouble__card-item{
      display: flex;
      justify-content: center;
      width: 90%;
      margin: 10px auto;
    }
    .trouble__card{
      width: 28%;
      display: block;
      padding: 20px 10px;
      margin: 20px;
      text-align: center;
    }
    .trouble__card2{
      text-align: center;
    }
    .trouble__img{
      width: 100%;
      display: block;
      
    }
    .trouble__card-txt{
      text-align: center;
      font-size: 1.3rem;
    }
    .trouble__card-txt2{
      text-align: center;
      font-size: 1.3rem;
    }

  }
}

#learn{
  width: 100%;
  margin: 0 auto;
  background-color: $background-clr;
  .learn__wrapper ul{
    width: 100%;
    margin: 20px auto;
    

  }
  
.learn__ttl{
  @include ttlstyle();
  padding-bottom: 40px;
}
.learn__text{
  margin: auto 0;
  span{
    font-size: 2em;
    color: $btnClr;
    font-weight: bold;
  }
}
li{
  list-style: none;
}
.learn__item{
  width: 90%;
  margin: 10px auto 30px;
  padding-bottom: 30px;
}
.learn__item-ttl{
  font-size: 1.4rem;
  text-align: left;
  margin: 10px auto;
  font-weight: bold;
  list-style: none;
}
.learn__item-ttl > br{
  display: none;
}
.learn__item-txt{
  font-size: 1rem;
  padding-bottom: 20px;
}
.learn__item-img{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  img{
    width: 100%;
  }
}
}
@media screen and (min-width:769px){
  #learn{
    width: 100%;
    margin: 0 auto;
    .learn__ttl{
      font-size: 2rem;
    }
    .learn__wrapper ul{
      width: 90%;
      margin: 0 au;
    }
    .learn__item{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .learn__item:nth-child(2){
      display: flex;
      flex-direction: row-reverse;
    }
    .learn__text{
      width: 60%;
      margin: 30px 0 0 40px;
      padding-left: 30px;
      
    }
    .learn__item-ttls{
      display: flex;
      font-size: 2rem;
      span{
        font-size: 2rem;
        padding-top: 20px;
      }
    }
    .learn__item-ttl{
      font-size: 2rem;
      line-height: 1.5em;
      margin: 0;
      padding-left: 20px;
    }
    .learn__item-txt{
      margin-top: 30px;
      font-size: 0.8rem;
      line-height: 1.6rem;
    }
    .learn__item-img img{
      width: 80%;
      margin-left: 30px;
    }

  }
}


#feature{
  margin-bottom: 30px;
  .feature__ttl{
    @include ttlstyle();
  }
  .feature__icon ul{
    margin: 40px auto;
    width: 90%;
    text-align: center;
  }
  
  .feature__icon-item{
    width: 30%;
    border: 1px solid rgba(225, 111, 208, 0.723);
    display: inline-block;
    border-radius: 20px;
    padding: 30px 10px;
    box-shadow: 0 0 5px rgba(225, 111, 208, 0.627);
    text-align: center;
    margin: 10px 10px;
  }
}
@media screen and (min-width:769px){
  #feature{
    width: 90%;
    margin: 30px auto 0;
    .feature__ttl{
      font-size: 2rem;
      padding-top: 20px;
    }
    .feature__icon ul{
      display: flex;
      justify-content: center;
      padding: 30px 0;
    }
    .feature__icon-item{
      display: block;
      width: 12%;

    }
  }
}

#service{
  width: 100%;
  background-color: $background-clr;
  .service__ttl{
    @include ttlstyle();
    color: #fff;
    margin: 0 auto;
    width: 90%;
    line-height: 1.5rem;
  }
  .service__btns{
    font-size: 16px;
    margin: 50px 0;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
  }
  .service__btn-blue{
    background-color:rgba(54, 54, 217, 0.846);
    padding: 20px 150px;

  }
  .service__btn-white{
    display: inline-block;
    color: $background-clr;
    background-color: #fff;
    padding: 20px 110px;
  }
}
@media screen and (min-width: 769px){
  #service{
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    .service__ttl{
      font-size: 2rem;
    }
  .service__btns{
    display: flex;
    justify-content: center;
    margin-top: 20px;

  }
  .service__btn-blue{
    padding: 20px 120px;
  }
  .service__btn-white{
    margin-left: 20px;
    padding: 20px 80px;
  }

  }

}
#intro__company{
  width: 90%;
  .intro__company-ttl{
    @include ttlstyle();
  }
  .company__wrapper-card{
    min-width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
  }
  .company__card{
    width: 80%;
    flex: none;
    border-radius: 20px;
    border: 1px solid rgba(164, 159, 159, 0.524);
    box-shadow: 1 1 0 rgba(164, 159, 159, 0.524);
    position: relative;
    z-index: 1;
    margin: 30px 5px 50px;
  }
  .company__card-eyecatch{
    width: 100%;
    border-radius: 20px;
  }
  .company__item-cat{
    position: absolute;
    top: 11rem;
    left: 1rem;
    font-size: 0.8rem;
    border: 1px solid $btnClr;
    padding: 6px;
    background-color: #fff;
    z-index: 2;
  }
  .company__content{
    margin: 20px 30px;
  }
  .company__ttl{
    font-size: 1rem;
    padding-bottom: 16px;
  }
  .company__txt{
    font-size: 1.2rem;
    padding-bottom: 20px;
    
  }

}
@media screen and (min-width:769px) {
  #intro__company{
    width: 100%;
    margin: 50px 0;
    .intro__company-ttl{
      font-size: 2rem;
      padding-bottom: 20px;
    }
    .company__wrapper-card{
      width: 100%;
      margin: 0;
    }
    .company__card{
      width: 19%;
      margin-left: 10px;
    }
    .company__card:first-child{
      margin-left: 0;
    }
    .company__card-eyecatch{
      width: 100%;
    }
    .company__item-cat{
      top: 8.5rem;
    }
    }
  
}


#plan {
  width: 90%;
  margin: 50px auto;
  .plan__item {
    width: 80%;
    text-align: center;
    border: 1px solid rgba(217, 215, 215, 0.654);
    border-radius: 20px;
    height: 300px;
    margin: 0 auto 30px;
    padding-bottom: 20px;

  }
  .plan__wrapper{
    margin-bottom: 30px;
  }
  
  .plan__item:nth-child(2n){
    height: 420px;
  }
  .plan__ttl {
    @include ttlstyle();
    margin-bottom: 20px;
  }
  .plan__content-blue {
    font-size: 18px;
    color: #fff;
    background-color: rgb(60, 116, 227);
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    text-align: center;
  }
  .plan__content-pink{
    background-color: $background-clr;
    border-radius: 20px 20px 0 0;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100px;
    padding-top: 20px;
    text-align: center;
  }
  
  .plan__content-sub {
    font-size: 16px;
    line-height: 2em;
  }
  .plan__content-main {
    font-size: 28px;
  }
  .plan__content-main > span{
    font-size: 18px;
   }
  
  .plan__list{
    border-bottom: 1px solid rgba(217, 215, 215, 0.654);
    font-size: 16px;
    padding: 20px;
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }
  
  .plan__list-btn{
    text-decoration: none;
    background-color: rgba(217, 215, 215, 0.654);
    padding: 18px 80px;
    border-radius: 30px;
    color: $fontClr;
    display: inline-block;
    margin: 20px;
  }
}
@media screen and (min-width:769px){
  #plan{
    width: 90%;
    margin: 0 auto;
    .plan__ttl{
      font-size: 2rem;
      padding-bottom: 40px;
    }
    .plan__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .plan__item{
      width: 30%;
      margin: 0;
      padding-bottom: 30px;
    }
    .plan__content-main{
      font-size: 2rem;
    }
  }
}

#question {
  width: 90%;
  margin: 0 auto;
  .question__ttl {
    @include ttlstyle();
    margin-bottom: 20px;
  }
  .question__wrapper{
    margin-bottom: 30px;
  }
  .question__item{
    width: 90%;
    margin: 0 auto;
  }
  .question__wrapper-ttl{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px  15px;
    border: 1px solid  rgba(212, 95, 190, 0.867);
    color:  rgba(212, 95, 190, 0.867);
    border-radius: 10px;

  }
  .question__wrapper-ttl > span{
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: bold;
  }
  i {
    color: rgb(174, 170, 170);
    font-size: 14px;
    line-height: 2rem;
  }
  .question__a{
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    text-align: left;
    display: flex;
    padding: 18px 0 24px;
  }
  p > span{
    color: rgb(60, 116, 227);
    font-size: 20px;
    font-weight: bold;
    padding-right: 18px;
   }
}
@media screen and (min-width:769px){
  #question{
    width: 90%;
    margin: 0 auto;
    .question__wrapper{
      width: 70%;
      margin: 30px auto 50px;

    }
    .question__ttl{
      font-size: 2rem;
    }
    .question__wrapper-ttl{
      justify-content: flex-start;
      margin: 0 auto;
    }
    .question__wrapper-ttl:nth-child(3){
      text-align: right;
    }
    .question__content-ttl{
      width: 100%;
      margin: 0 auto;
      padding-left: 10px;
    }

  }
}
#sample{
  width: 100%;
  background-color: $background-clr;
  .sample__ttl{
    @include ttlstyle();
    color: #fff;
    margin: 0 auto;
    width: 90%;
  }
  .sample__btns{
    font-size: 16px;
    margin-top: 50px;
    font-size: 20px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
  }
  .sample__btn-blue{
    background-color:rgba(54, 54, 217, 0.846);
    padding: 20px 150px;

  }
  .sample__btn-white{
    display: inline-block;
    color: $background-clr;
    background-color: #fff;
    padding: 20px 110px;
  }
}


@media screen and (min-width: 769px){
  #sample{
    width: 100%;
    padding: 30px 0 50px;
    .sample__ttl{
      font-size: 2rem;
    }
  .sample__btns{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 30px;

  }
  .sample__btn-blue{
    padding: 20px 120px;
  }
  .sample__btn-white{
    margin-left: 20px;
    padding: 20px 80px;
  }

  }

}
#footer {
  background-color:rgba(238, 224, 242, 0.839);
  .footer__content{
    margin-bottom: 40px;
  }
  .footer__img {
    width: 150px;
    padding: 30px 0;
    margin-left: 30px;
  }
  li {
    margin-left: 30px;
    list-style: none;
    font-size: 16px;
    text-align: left;
    margin-bottom: 20px;
  }
  small{
    margin-left: 150px;
  }
}
@media screen and (min-width: 769px){
  #footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .footer__content{
      display: flex;
      justify-content: space-evenly;
      padding-top: 50px;
      margin-bottom: 60px;
    }
    .footer__img {
      width: 100px
    }
  }

}