@mixin btnStyle {
  color: white;
  background-color: rgba(212, 95, 190, 0.867);
  padding: 15px 30px;
  border-radius: 40px;
  text-decoration: none;
}
@mixin ttlstyle{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}

$btnClr: rgba(232, 101, 208, 0.867);
$fontClr: black;
$background-clr:rgba(228, 82, 231, 0.374);

body{
  width: 100%;
}
#header {
  height: 70px;
  .header__nav, .header__cta{
    display: none;
  }
  }
  #firstview{
    height: 800px;
    background-image: url(img/fv__bg-sp.svg);
    background-size: cover;
    margin-bottom: 100px auto;
    h1{
      font-size: 35px;
      margin-bottom: 20px;
    }
    .firstview__txt{
      width: 80%;
      padding-top: 50px;
      font-size: 20px;
    }
    .firstview__img{
      width: 60%;
      margin: 50px auto;

    }
    .firstview__cta{
      background-color: $btnClr;
      padding: 30px;
      border-radius: 40px;
      text-align: center;
      margin-left: 100px;
    }
    .firstview__cta a{
      color: #fff;
      text-decoration: none;
    }
  }
  #about{
    height: 400px;
    background-color: $background-clr;
    .about__txt{
      @include ttlstyle();
      font-size: 18px;
      padding-bottom: 20px;
    }
    .about__img{
      width: 100%;
      margin: 0 auto;
      img{
        width: 90%;
      }
    }
  }
#trouble{
  height: 600px;
  text-align: left;
  .trouble__ttl{
    @include ttlstyle();
    margin-bottom: 20px;
  }
  
  .trouble__card{
    display: flex;
    align-items: center;
  }
  .trouble__card2{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 30px;
  }
  .trouble__img{
    width: 100%;
    img{
      width: 80%;
    }
  }
  .trouble__card-txt{
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
  }
  }

#learn{
  height: 1600px;
  background-color: $background-clr;
  
.learn__ttl{
  @include ttlstyle();
}
.learn__text{
  margin: auto 1em;
  span{
    font-size: 2em;
    color: $btnClr;
    font-weight: bold;
  }
}
.learn__item-ttl{
  font-size: 25px;
  text-align: left;
  margin: 10px auto;
  font-weight: bold;
  list-style: none;
}
.learn__item-txt{
  font-size: 18px;
  padding-bottom: 20px;
}
.learn__item-img{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  img{
    width: 100%;
  }
}
}
#feature{
  height: 800px;
  margin: 0 auto;
  .feature__ttl{
    @include ttlstyle();
  }
  .feature__icon{
    width: 100%;
    text-align: center;
  }
  
  .feature__icon-item{
    width: 30%;
    border: 1px solid rgba(225, 111, 208, 0.723);
    display: inline-block;
    border-radius: 20px;
    padding: 30px 10px;
    box-shadow: 0 0 5px rgba(225, 111, 208, 0.627);
    text-align: center;
    margin: 10px 10px;
  }
}

#service{
  height: 400px;
  background-color: $background-clr;
  .service__ttl{
    @include ttlstyle();
    color: #fff;
    margin: auto 50px;
  }
  .service__btn{
    width: 400px;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    color: #fff;
    margin: 20px 15px;
    background-color:rgba(54, 54, 217, 0.846);
  }
  .service__btn-white{
    display: inline-block;
    color: $background-clr;
    background-color: #fff;
  }
}

#intro__company {
  height: 800px;
  .intro__company-ttl{
    @include ttlstyle();
  }
  .company__wrapper-card{
    overflow-x: scroll;
    display: flex;
    margin: 10px auto;
  }
  .company__card{
    border: 1px solid rgba(164, 159, 159, 0.524);
    border-radius: 20px;
    margin-left: 10px;
    position: relative;
    z-index: 1;
  }
  img{
      width: 350px;
      border-radius: 20px;
    .company__card-eyecatch{
      height: auto;
      margin: 0 auto;
      
      border-radius: 20px;
    }
    }
    .company__item-cat {
      background-color: #fff;
      border: 1px solid $btnClr;
      display: inline-block;
      padding: 5px;
      font-size: 14px;
      position: absolute;
      z-index: 2;
      top: 220px;
      left: 10px;
    }
    .company__content {
      width: 100%;
      padding: 10px;
    }
    .company__ttl {
      padding: 10px;
      font-size: 14px;
    }
    .company__txt {
      padding: 10px;
      font-size: 18px;
      line-height: 1.5em;
    }
}

#plan {
  width: 100%;
  height: 1300px;
  margin-bottom: 50px;
  .plan__item {
    width: 80%;
    text-align: center;
    border: 1px solid rgba(217, 215, 215, 0.654);
    border-radius: 20px;
    height: 300px;
    margin: 20px auto;
  
  }
  .plan__item:nth-child(2n){
    height: 420px;
  }
  .plan__ttl {
    @include ttlstyle();
  }
  .plan__content-blue {
    font-size: 18px;
    color: #fff;
    background-color: rgb(60, 116, 227);
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100px;
    text-align: center;
  }
  .plan__content-pink{
    background-color: $background-clr;
    border-radius: 20px 20px 0 0;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100px;
    text-align: center;
  }
  
  .plan__content-sub {
    font-size: 16px;
    line-height: 2em;
  }
  .plan__content-main {
    font-size: 28px;
  }
  .plan__content-main > span{
    font-size: 18px;
   }
  
  .plan__list{
    border-bottom: 1px solid rgba(217, 215, 215, 0.654);
    text-align: center;
    font-size: 16px;
    padding: 20px;
    list-style: none;
  }
  
  .plan__list-btn{
    text-decoration: none;
    background-color: rgba(217, 215, 215, 0.654);
    padding: 10px 20px;
    border-radius: 30px;
    color: $fontClr;
    display: inline-block;
    margin: 20px;
  }
}

#question {
  width: 100%;
  height: 1000px;
  margin: 0 auto 80px;
  .question__ttl {
    @include ttlstyle();
  }
  .question__item{
    width: 70%;
    margin: 0 auto;
    
  }
  .question__wrapper-ttl{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px  15px;
    border: 1px solid  rgba(212, 95, 190, 0.867);
    color:  rgba(212, 95, 190, 0.867);
    border-radius: 10px;

  }
  .question__wrapper-ttl > span{
    font-size: 20px;
    padding-right: 10px;
    vertical-align: middle;
    font-weight: bold;
  }
  i {
    color: rgb(174, 170, 170);
    font-size: 14px;
    line-height: 2rem;
  }
  .question__a{
    padding: 30px;
    font-size: 16px;
    text-align: left;
    display: flex;
    margin: 10px;
    
  }
   p > span{
    color: rgb(60, 116, 227);
    font-size: 20px;
    font-weight: bold;
    padding-right: 30px;
   }
}

#sample {
  width: 100%;
  height: 400px;
  background-color: $background-clr;
  text-align: center;
  .sample__ttl {
    @include ttlstyle();
    color: white;
  }
  .sample__btn {
    font-size: 16px;
    margin-top: 50px;
    width: 400px;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    display: block;
    color: #fff;
    margin: 20px 15px;
    background-color:rgba(54, 54, 217, 0.846);
  }
    .sample__btn-white {
      background-color:  #fff;
      color: $btnClr;
  }
}
#footer {
  height: 200px;
  text-align: center;
  margin-top: 50px;
  .footer__content{
    margin-bottom: 40px;
  }
  
  .footer__img img{
    width: 150px;
    padding-bottom: 30px;
  }
 
  li {
    list-style: none;
    font-size: 16px;
    text-align: left;
    margin-left: 200px;
    margin-bottom: 20px;
  }
}


@media screen and (min-width:769px){
  #header{
    margin: 0 auto;
  .header__wrapper{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    line-height: 1.5em;
  }
  .header__logo-img{
    width: 100px;
  }
    .header__nav {
    display: block;
    list-style: none;
    display: flex;
     .header__list > a{
      padding-left: 30px;
      text-decoration: none;
      color: $fontClr;
      font-size: 18px;
    }

    }
    .header__cta {
      display: block;
      display: flex;
    li {
      list-style: none;
    }
  }
  .header__cta-btn{
    background-color: $btnClr;
    font-size: 18px;
    color: #FFF;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
  }
  .header__cta-btn--blue{
    background-color: rgb(60, 116, 227);
    font-size: 18px;
    color: #FFF;
    padding: 10px 10px;
    border-radius: 20px;
    margin-left: 10px;
  }

  }
}
  #firstview{
    width: 100%;
    background: url(img/fv__bg-pc.svg) no-repeat;
    background-size: contain;
  .firstview__content{
    width: 100%;
  }
    h1{
    margin-top: 30px;
    }
    .firstview__txt{
      font-size: 18px;
    }
     .firstview__cta {
    display: inline-block;
     }

    .firstview__cta-btn {
      text-decoration: none;
      color :white;
    }
  
  .firstview__img {
    width: 100%;
    img{
      width: 300px;
      float: right;
    }
  }



}